.map {
    width: 100%;
    height: 500px;

}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    width: 100%;
    padding: 3%;
}

.title {
    margin-top: 70px;
}

.image-grid {
    margin: 10%;
    display: flex;
    flex-wrap: wrap;
}

.image-grid img {

    margin: 10px;
    width: 30.33%;
    height: auto;
    box-sizing: border-box;
}

@media screen and (max-width: 840px) {
    .image-grid img {
        width: 100%;
    }
}

img {
    transition: 0.3s;
}

img:hover {
    transform: scale(1.1);

}

.video-container {
    position: relative;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.video-container video {
    width: 100%;
}

.video-container .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
}

.video-container:hover .text-overlay {
    opacity: 1;
}

.video-container .text-overlay p {
    font-size: 40px;
    text-align: center;
    color: white;
}