.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.call-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: #19B874;
    color: #fff;
    border-radius: 4px;
}

.call-button:hover {
    background-color: #2980b9;
}

.disclaimer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #999;
}

.content {
    position: fixed;
    top: 100px;
    /* ajustez cette valeur en fonction de la hauteur de l'header */
    left: 0;
    height: calc(100% - 100px);
    /* ajustez cette valeur en fonction de la hauteur de l'header */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.alert {
    margin-top: 20px;
    color: rgb(219, 129, 129);
    text-align: center;

}